header{
    text-decoration: none;
    display: flex;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    background-color: #2a607c;
    color: #ffffff;
    justify-content: space-between;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav a{
    flex-direction: row;
    text-decoration: none;
     color: #ffffff;
    display: flex;
    margin-right: 25px;
}
section{
    display: flex;
    border: 500px;
}

h2{
    font-size: xx-large;
    margin-right: 50px;
}
p{
    font-size: x-large;
}
secWrap{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
}